{% extends "base.html" %}
{% block content %}


<a class="navbar-brand" href="/text1">1) Роль и место России в мировой политике, экономике, человеческом потенциале. Особенности интеграции России в мировое сообщество. <br>Географические аспекты решения внешнеэкономических и внешнеполитических задач развития экономики России</a>
<br>
<a style="line-height: 3; text-align: center;" class="navbar-brand" href="/text2">2) Изменение направления международных экономических связей России в новых геоэкономических и геополитических условиях</a><br>
<a style="line-height: 3;" class="navbar-brand" href="/text3">3) Группы глобальных проблем. Геополитические проблемы</a><br>
<a style="line-height: 3;" class="navbar-brand" href="/text4">4) Геоэкология — фокус глобальных проблем человечества</a><br>
<a style="line-height: 3;" class="navbar-brand" href="/text5">5) Глобальные проблемы народонаселения: демографическая, продовольственная, роста городов, здоровья и долголетия человека</a><br>
<a style="line-height: 3;" class="navbar-brand" href="/text6">6) Взаимосвязь глобальных проблем и проблем народонаселения. Возможные пути решения. Роль России в их решении. </a><br>
{% endblock %}