{% extends "base.html" %}
{% block content %}


<a class="navbar-brand" href="/text1">1) Роль и место России в мировой политике, экономике, человеческом потенциале. Особенности интеграции России в мировое сообщество. <br>Географические аспекты решения внешнеэкономических и внешнеполитических задач развития экономики России</a>
<br>
<a style="line-height: 3;" class="navbar-brand" href="/text2">2) Группы глобальных проблем. Геополитические проблемы</a><br>
<a style="line-height: 3;" class="navbar-brand" href="/text3">3) Геоэкология — фокус глобальных проблем человечества</a><br>
<a style="line-height: 3;" class="navbar-brand" href="/text4">4) Глобальные проблемы народонаселения: демографическая, продовольственная, роста городов, здоровья и долголетия человека</a><br>
<a style="line-height: 3;" class="navbar-brand" href="/test5">5) Итоговый тест глобальные проблемы</a>
{% endblock %}